.metadata/
/.settings/
/.vscode/
/.xml/
*.xml
Debug/
Firmware/Debug/
ENKO_DBC_2/locales/
ENKO_DBC_2/resources/
ENKO_DBC_2/swiftshader/
ENKO_DBC_2/chrome_100_percent.pak
ENKO_DBC_2/chrome_200_percent.pak
ENKO_DBC_2/d3dcompiler_47.dll
ENKO_DBC_2/dbc2_90w.blf
ENKO_DBC_2/ENKO_DBC_2.exe
ENKO_DBC_2/ffmpeg.dll
ENKO_DBC_2/icudtl.dat
ENKO_DBC_2/libEGL.dll
ENKO_DBC_2/libGLESv2.dll
ENKO_DBC_2/LICENSE
ENKO_DBC_2/LICENSES.chromium.html
ENKO_DBC_2/resources.pak
ENKO_DBC_2/snapshot_blob.bin
ENKO_DBC_2/v8_context_snapshot.bin
ENKO_DBC_2/version
ENKO_DBC_2/vk_swiftshader.dll
ENKO_DBC_2/vk_swiftshader_icd.json
ENKO_DBC_2/vulkan-1.dll
Firmware/DBC2-90W/Debug/
Firmware/DBC2-150W/Debug/
Firmware/DBC2-300W/Debug/
Bootloader/DBC2-90W-Bootloader/Debug/
Bootloader/DBC2-150W-Bootloader/Debug/
Bootloader/DBC2-300W-Bootloader/Debug/
# Ignore list for Eagle CAD Projects
# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?